@font-face {
    font-family: 'Baskerville Normal';
    font-style: normal;
    font-weight: normal;
    src: local('Baskerville Normal'), url('baskvl.woff') format('woff');
}

:root {

    --text-color: #222;
    --gray:   #656565;
    --light:  #E2E0E0;
    --white:  #FFFFFF;
    --red-tint: #FF6868;
    --blue-tint: #6898ff;
    --color-action--remove:#a86878;
    --color-action--create:#6878a8;
    --color-action--edit: #5898a8;
    --tool-view-bg: #333958;
    --editor-bg: #c8e8fa;
    --editor-field-bg: #e9eefd;
    --editor-border-color: #9298b2;
    --line-height: 48px;
    --component-pad: 8px;
    --frame-width: 40%;
    --max-width: 1440px;
    --max-frame-width: 600px;
    --font-size-header: 14px;
    --font-size-text: 12px;
    --action-diameter: 32px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans Condensed';
}
.button {
    cursor: pointer;
    color: #fff;
    background-color: #6878a8;
    height: 24px;
    margin-left: auto;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 12px;
    border: 3px solid transparent;
    border-color: #a8b8e8;
    text-align: center;
    outline: none;
    transition: background-color .3s, border-color .3s, transform 150ms ease-in; 
}
.button:focus {
    outline: none;
    border-color: #28385a;
}
.button:active {
    border-color: #28385a;
    outline: none;
} 
.button:hover {
    background-color: #7888bf;
    transform: scale3d(1.1,1.1,1);
}

/**
 * Entry styles
 *
 */
.entry { 
    display: flex;
    align-items: center;
    position: relative;
    max-width: calc(var(--max-frame-width) - 16px);
    width: 100%; 
    min-height: 48px;
    padding: 12px 6px;
    background-color: #fff;
    border-top: 1px solid rgba(0,0,0,0.25);
    box-shadow: inset 0 -12px 18px -6px rgba(0,0,40,.25);
}
.entry__title { 
    flex-basis: 50%;
    flex-grow: 1;
}
.entry__field {
    flex-basis: 25%;
    flex-grow: 1;
}

/**
 * Action icon button 
 * styles
 */
.action {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 12px;
    width: 32px;
    height: 32px;
    padding: 2px;
    margin-left: 4px;
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid rgba(255,80,80,0.7);
    box-shadow: -4px 4px 4px -2 rgba(40,40,128,0.5);
    transition: border-color .3s;
}
.action:hover {
    border-color: rgba(0,0,0,.25);
}
.action:focus {
    border-color: rgba(255,80,80,0.5);
    outline: none;
}
.action:active {
    outline: none;
    border-color: rgba(0, 0, 0, 0.5);
}
.action.edit {
    background-image: url('assets/icon_edit.svg');
}
.action.remove {
    background-image: url('assets/icon-delete-duo.svg');
}
.main {
    display: flex;
    margin: 0 auto;
    max-width: var(--max-width);
    min-height: calc(100vh - 49px);
    position: relative;
}
.component {
    padding: var(--component-pad, 8px);
}
.component__row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.component__create {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.component__input {
    flex-basis: 50%;
}
.component__action--create {
    cursor: pointer;
    width: var(--action-diameter);
    height: var(--action-diameter);
    outline: none;
    border-radius: calc(var(--action-diameter) / 2);
    border: 1px solid rgba(255,255,245.0.6);
    background-color: var(--color-action--create);
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../img/icon_plus.svg');
    box-shadow: 
    inset 0px -4px 12px 0 rgba(0 0 0 / 40%),
    inset 0px 6px 12px -8px rgba(255 255 255 / 59%);
}
.component__action--remove {
    cursor: pointer;
    width: var(--action-diameter);
    height: var(--action-diameter);
    outline: none;
    border-radius: calc(var(--action-diameter) / 2);
    border: 1px solid rgba(255,255,245.0.6);
    background-color: var(--color-action--remove);
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../img/icon-delete-duo.svg');
    box-shadow: 
    inset 0px -4px 12px 0 rgba(0 0 0 / 40%),
    inset 0px 6px 12px -8px rgba(255 255 255 / 59%);
}
.component__action--edit {
    cursor: pointer;
    width: var(--action-diameter);
    height: var(--action-diameter);
    outline: none;
    border-radius: calc(var(--action-diameter) / 2);
    border: 1px solid rgba(255,255,245.0.6);
    background-color: var(--color-action--edit);
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../img/icon_edit.svg');
    box-shadow: 
    inset 0px -4px 12px 0 rgba(0 0 0 / 40%),
    inset 0px 6px 12px -8px rgba(255 255 255 / 59%);
}
.component__header {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;    
}
.component__tab {
    min-width: 32px;
    height: 100%;
    background-color: #eee;
    border-bottom: 1px solid rgba(240,255,255,0.5);
    border-top: 1px solid rgba(0,0,0,0.25);
    border-radius: 2px;
    border-right: 1px solid rgba(0,255,255,0.33);
    color: #555;
    padding-left: 32px;
    padding-right: 32px;
    text-align: center;
}
.component__layout {
    padding: var(--component-pad, 8px) 0;
    background-color: rgba(240,230,240);
    border-top: 1px solid rgba(160,160,240,0.5);
    border-bottom: 3px solid rgba(180,110,110,0.5);
}
.component__frame {
    display: flex;
    flex-direction: row;
}

.component__column {
    display: flex;
    flex-direction: column;
}
.component__fluid--600 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.component__fluid--600 .component__window {
    display: flex;
    flex-direction: column;
}
.component__fluid--600 .component__window .window__image {
    min-height: 200px;
    border-bottom: 1px solid rgba(0,255,255,0.33);
    display: flex;
    padding: 4px;
}
.component__fluid--600 .component__window .window__controls {
    min-height: 300px;
    border-bottom: 3px solid rgba(255,140,105,1.0);
}
.image--main {
    margin: 0 auto auto 0;
    max-width: 600px;
}
.window__image .image {
    margin: 0 auto auto 0;
    min-width: 32px;
    min-height: 24px; 
    box-shadow: 0 4px 12px -6px rgba(0,0,0,0.25); 
}
.window__image .label--width {
    position: absolute;
    /*top: 8px;
    left: 8px;*/
    color: rgba(0,0,0,0.5);
    min-width: 32px;
    min-height: 24px;
    font-size: 18px;
}
@media screen and (max-width: 650px)
{
    .main {
        flex-direction: column;
    }
}
@media screen and (max-width: 600px)
{
    .component__fluid--600 {
        flex-direction: column;
        width: 100%;
    } 
    .component__fluid--600 .component__window {
        flex-direction: row;
        min-height: 200px;
        border-bottom: 1px solid rgba(0,0,0,0.25);
    }
    .component__fluid--600 .component__window .window__image {
        flex-basis: 70%;
    }
    .component__fluid--600 .component__window .window__controls {
        flex-basis: 30%;
        border-bottom: 3px solid rgba(255,140,105,1.0);
    }
}

.component__label {
    font-size: 14px;
    color: #222;
    font-weight: 200;
    padding: 0;    
}
.component__label.required {
    background-image: url('../icon_asterisk.svg');
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: top;
    background-size: 12px;
    padding-right: 12px;
}
.component__label.required.off {
    background-image: none;
}
.component__input {
    width: 100%;
    border: 1px solid var(--grey, #bcbcbc);
    padding: 5px 4px;
    border-radius: 2px;
    font-size: var(--font-size-text, 12px);
    font-weight: 200;
    color: #222;
    box-shadow: 0 1px 6px 1px rgba(0,0,0,0.1);
}
.component__input.type--number {
    width: 64px;
}
.component__input:focus,
.component__row *:focus {
    outline: none;
    padding: 4px;
    border: 2px solid var(--dark-grey, #656565);
}
.component.notify-required {
    padding-top: 7px;
    padding-bottom: 7px;
}
.component.notify-required,
.component__input.notify-required {
    border: 2px solid var(--red-tint, #ff6868);
}
.component__img--required {
    width: 16px;
    background-image: url('../icon_asterisk.svg');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    background-size: 60%;  
}
.component__unit {
    margin-left: 6px;
    font-size: var(--font-size-text, 12px);
    font-weight: 200;
    color: #222;
    align-self: center;
}
.two_column {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}
